<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <div class="avatar">
      <ion-img src="assets\images\noperfil.jpg" class="fotoperfil"></ion-img>
      
    </div>
    <h5 style="margin-right: 5px;">{{ n }}</h5>
    <ion-icon (click)="editarPerfil()" style="cursor: pointer;" size="small" name="create-outline"></ion-icon>
  </div>

  <div class="categories">
    <div class="wrapper" [routerLink]="['/billetera']">
      <div class="image-card">
        <ion-img src="assets\images\billetera3.jpg"></ion-img>
      </div>
      <p class="ion-no-margin">Pagos</p>
      
    </div>
    <div class="wrapper" [routerLink]="['/historial']">
      <div class="image-card">
        <ion-img src="assets\images\historial.jpg"></ion-img>
      </div>
      <p class="ion-no-margin">Historial</p>
      
    </div>

    <div class="wrapper" [routerLink]="['/configuracion']">
      <div class="image-card">
        <ion-img src="assets\images\configuracion.jpg"></ion-img>
      </div>
      <p class="ion-no-margin">Configuración</p>
      
    </div>
  </div>
  <hr>

  <div class="section"> 
    <!--
    <div class="section1">
      <ion-icon style="margin-top: 6%; margin-right: 4px;" size="small" name="cog-outline"></ion-icon>
      <h6 [routerLink]="['/configuracion']">Configuración</h6>
    </div>-->
    <div *ngIf = "a == 1" [routerLink] = "['/vehiculo']" class="section1">
      <ion-icon style="margin-right: 4px;" size="small" name="car-sport-outline"></ion-icon>
      <h6>Ajustes Vehiculo</h6>
    </div>



    <div class="section1">
      <ion-icon style="margin-right: 4px;" size="small" name="help-circle-outline"></ion-icon>
      <h6>Términos y condiciones</h6>
    </div>
    
  </div>

</ion-content>
