ion-content{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

    .header{

        display:flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        margin-top: 1rem;    
        margin-left: 1rem;    
        
    }

    h5{
        font-size: 1.5rem;
        font-weight: 200;
        color: #515151;
        margin: 0;
    }


    .fotoperfil{
        width: 50px;
        height: 50px;
        
        border-radius: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        overflow: hidden;
        margin-right: 5px;
        
        
    }
    .categories{
        display: grid;
        grid-template-columns: repeat(3, 0.4fr);
        grid-gap: 0.5rem;
        margin-left: 8px;
        margin-right: 8px;
        cursor: pointer;
        
        
    }

    hr{
        height: 1%;
        background-color: #f3f3f3;
        border-radius: 5px;
    }


    .section1{
        padding-left: 20px;
        text-align: left;
        display: flex;
        cursor: pointer;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

        
    }   
    h6{
        padding-top: 0px;
        font-size: 1rem;
        font-weight: 500;
        color: #515151;

    }

   
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
    
    .image-card{
        background-color: rgb(255, 214, 34);
        padding: 0.8rem;
        border-radius: 1rem;
        margin-bottom: 0.5rem;

        ion-img{
            opacity: 0.8;
        }


    }
}


